@model WebBiotec.Models.Config_ConceptosRetail

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var cuentasClientes = WebBiotec.Models.DAO.DaoControlDocumento.getClientesCuentas(@Request.Params["comboboxClientes"]);
}

<h2>Editar Cuenta Contable</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Config_ConceptosRetail</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.RUT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.RUT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RUT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FICHA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FICHA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FICHA, "", new { @class = "text-danger" })
            </div>
        </div>


        @*<div class="form-group">
            <label class="control-label col-md-2">COD_CONCEPTO:</label>
            <div class="col-md-10">
                <select class="form-control" name="comboboxCuentas" id="comboboxCuentas" style="width: 100%;margin:auto">
                    <option value="">SELECCIONAR</option>
                    @foreach (var items in cuentasClientes)
                    {
                        <option value="@items.VALOR">@items.TEXTO</option>
                    }
                </select>
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.COD_CONCEPTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("COD_CONCEPTO", (IEnumerable<SelectListItem>)ViewBag.CuentasContables, new { @class = "k-input form-control" })
                @Html.ValidationMessageFor(model => model.COD_CONCEPTO, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.COD_CONCEPTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.COD_CONCEPTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.COD_CONCEPTO, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group" id="HIDE_CONCEPTO" name="HIDE_CONCEPTO">
            @Html.LabelFor(model => model.CONCEPTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CONCEPTO, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CONCEPTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.COD_CUENTA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.COD_CUENTA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.COD_CUENTA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PORCENTAJE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PORCENTAJE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PORCENTAJE, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.TIPO_CALCULO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TIPO_CALCULO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TIPO_CALCULO, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.TIPO_CALCULO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                 @Html.DropDownList("TIPO_CALCULO", new List<SelectListItem>{
                new SelectListItem {Text="%",Value = "%" },
                new SelectListItem {Text="UF",Value = "UF" }
                }, new { @class = "k-input form-control" })
                @*@Html.ValidationMessageFor(model => model.COD_CONCEPTO, "", new { @class = "text-danger" })*@
                @Html.ValidationMessageFor(model => model.TIPO_CALCULO, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index", "Config_ConceptosRetail", new { comboboxCanales = @Request.Params["comboboxCanales"], comboboxClientes = @Request.Params["comboboxClientes"] })" class="btn btn-default">Volver</a>
                @*@Html.ActionLink("Volver", "Index", new { comboboxCanales = @Request.Params["comboboxCanales"], comboboxClientes = @Request.Params["comboboxClientes"] })*@
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Volver", "Index", new { comboboxCanales = @Request.Params["comboboxCanales"], comboboxClientes = @Request.Params["comboboxClientes"] })
</div>*@


<script>
    $("#COD_CONCEPTO").change(function () {

        var valor = $("#COD_CONCEPTO option:selected").text()
        valor = valor.substring(valor.indexOf(" ") + 1);
        $("#CONCEPTO").val(valor);
  
    });
    $(document).ready(function () {

        $('#HIDE_CONCEPTO').hide();

    });


</script>